In [2]:
import pandas as pd

In [11]:
pd.read_csv('D:\\new.csv',index_col=["Num1"],usecols=["Num1","Num2"],nrows=5)

        Num2
Num1
67.72  23.54
6.21    1.24
37.70   4.50
37.50   1.89
32.70  56.30

In [12]:
pd.read_csv('D:\\new.csv')

  ind   Num1   Num2
0   a  67.72  23.54
1   b   6.21   1.24
2   c  37.70   4.50
3   d  37.50   1.89
4   e  32.70  56.30
5   f  51.00   2.00
6   g  57.40   2.70
7   h   9.02  46.30
8   i  93.80  77.50
9   j  95.10  69.20

In [15]:
pd.read_csv('D:\\new.csv',usecols=["Num1"])

    Num1
0  67.72
1   6.21
2  37.70
3  37.50
4  32.70
5  51.00
6  57.40
7   9.02
8  93.80
9  95.10

In [16]:
pd.read_csv('D:\\new.csv',header=0,usecols=["Num1","Num2"])

    Num1   Num2
0  67.72  23.54
1   6.21   1.24
2  37.70   4.50
3  37.50   1.89
4  32.70  56.30
5  51.00   2.00
6  57.40   2.70
7   9.02  46.30
8  93.80  77.50
9  95.10  69.20

In [17]:
pd.read_csv('D:\\new.csv',header=4)

   d   37.5  1.89
0  e  32.70  56.3
1  f  51.00   2.0
2  g  57.40   2.7
3  h   9.02  46.3
4  i  93.80  77.5
5  j  95.10  69.2

In [18]:
pd.read_csv('D:\\new.csv',index_col=["Num2"],usecols=["Num1","Num2"])

        Num1
Num2
23.54  67.72
1.24    6.21
4.50   37.70
1.89   37.50
56.30  32.70
2.00   51.00
2.70   57.40
46.30   9.02
77.50  93.80
69.20  95.10

In [19]:
pd.read_csv('D:\\new.csv',index_col=["Num1"],usecols=["Num1","Num2"],skiprows=[1,6])

        Num2
Num1
6.21    1.24
37.70   4.50
37.50   1.89
32.70  56.30
57.40   2.70
9.02   46.30
93.80  77.50
95.10  69.20

In [21]:
temprature=[30,31,32,33,34,32,30,31,29,33,34,32]
months=["Jan","Feb","Mar","Arp","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
s1=pd.Series(temprature,months)

In [22]:
s1

Jan    30
Feb    31
Mar    32
Arp    33
May    34
Jun    32
Jul    30
Aug    31
Sep    29
Oct    33
Nov    34
Dec    32
dtype: int64

In [23]:
sorted(s1)

[29L, 30L, 30L, 31L, 31L, 32L, 32L, 32L, 33L, 33L, 34L, 34L]

In [24]:
max(s1)

34L

In [25]:
s1[0]

30

In [26]:
import pandas as pd

In [27]:
url='http://archive.ics.uci.edu/m1/machine-learning-database/adult/adult.data'

In [28]:
df=pd.read_csv(url,header=None)

HTTPError: HTTP Error 404: Not Found

In [30]:
import pandas as pd
import numpy as np